<div class="modal fade" id="modal_card" tabindex="-1" role="dialog" aria-labelledby="modal_card" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <%= t 'messages.project.add', value: (t 'controller.card') %>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_tag({controller: "cards", action:  "update" }, method: "patch") do %>
          <div class="form-row">
            <div class="form-group col-md-12">
              <small class="margin01"><%= t "field.title", value: (t 'controller.card') %></small>
              <span><%= text_field_tag :title , nil , maxlength: 20 , class: 'form-control' , autocomplete: :off, required: true %></span>
              <small class="margin01"><%= t "field.description", value: (t 'controller.card') %></small>
              <%= text_field_tag :description , nil , maxlength: 120 , class: 'form-control' , autocomplete: :off %>
              <small class="margin01"><%= t "field.list", value: (t 'controller.card') %></small>
              <%= collection_select( :list, :list_id, @all_lists_for_board,:id , :title ,{selected: ""}, {id: "list_id", name: "list_id", class: "form-control" , required: true } ) %>
              <%= hidden_field_tag :card_id %>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <%= button_tag (t 'field.save'), class: "btn btn-block btn-success mb-1" %>
        <% end %>
            <%= form_tag({controller: "cards", action: "destroy" }, method: "delete") do %>
              <%= hidden_field_tag "card_id_del" %>
              <%= button_tag (t 'field.del'), class: "btn btn-danger btn-block" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>