<%= render 'partial/list' %>
<%= render 'partial/card' %>
<%= render 'partial/card_new' %>
<%= javascript_include_tag "modal_list_autocomplete" %>
<%= javascript_include_tag "modal_card_autocomplete" %>

<div class="bord-nav">
  <div class="left bord-header"><%= @board.title %></div>
  <div class="left bord-header"><%= @board.description %></div>
  <div class="right">
    <a data-toggle="modal" data-target="#modal_board" class="btn btn-light"><i class="fa fa-cog"></i></a>
    <%= link_to root_path , class: "btn btn-danger" do %><i class="fas fa-door-open"></i><% end %>
  </div>
</div>
<div class="bord-lists">
  <% @all_lists_for_board.each_with_index do |list, list_index| %>
    <% @list = list %>
    <% all_cards_for_lists %>
    <div class="list_container">
      <small class="pad-list-header"><%= list.title %></small>
      <a data-toggle="modal" data-target="#modal_list" data-list-id="<%= list.id %>" data-list-title="<%= list.title %>" 
        data-board-id="<%= @board.id %>" class="btn btn-light right"><i class="fa fa-cog"></i></a>
      <ul id="ul<%= list_index %>" list="<%= @list.id %>" ondrop="drop(event)" ondragover="allowDrop(event)">
        <% @all_cards.each_with_index do |card, card_index| %>
            <li id="ul<%= list_index %>li<%= list_index %>" name="<%= @list.id %>" card="<%= card.id %>" 
            draggable="true" ondragstart="drag(event)" data-toggle="modal" href="#modal_card" data-target="#modal_card" 
            data-list-id="<%= list.id %>" data-card-id="<%= card.id %>" data-card-title="<%= card.title %>" 
            data-card-description="<%= card.description %>">
              <%= card.title %>
            </li>
        <%end%>
      </ul>
      <div class="new-card" data-toggle="modal" data-list-id="<%= list.id %>" data-target="#modal_card_new">Novo item</div>
    </div>
  <% end %>
  <div class="list_container">
    <small class="pad-list-header"><%= (t 'messages.project.add', value: (t 'controller.list').downcase) %></small>
    <%= text_field_tag :list_new , nil, type: 'text', maxlength: 18, class: 'form-control new-list' , autocomplete: :off, required: true %>
    <%= hidden_field_tag :board_id, @board.id %>
  </div>
</div>
